%p
  = t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name)
%p.author_footer
  = t('made')
  %a{ :href => 'http://www.luigolas.com'}
    Luigolas
%p.flags_footer
  = t('flags')
  %a{ :target => '_blank', :href => 'http://www.flags.redpixart.com'}
    flags.redpixart.com
%p.flags_footer
  =t('background')
  %a{ :target => '_blank', :href => 'http://www.elegantthemes.com/blog/freebie-of-the-week/20-free-background-images-for-wordpress'}
    elegantthemes.com
